.jumbo {
    width: 100vw;
    height: 25vw;
}

.jumbo-bg {
    width: 100vw;
    height: 100%;
}

.jumbo-img {
    width: 100%;
    height: 100%;
}

.jumbo-text {
    color: white;
    display: flex;
    align-items: center;
    flex-direction:column;
    justify-content: center;
    height: 25vw;
}

.jumbo-sub-text {
    margin-top: -10px;
}

@media screen and (max-width: 500px) {
    .jumbo-text {
        font-size: 10px;
    }

    .jumbo-sub-text {
        margin-top: -5px;
    }
}