.jumbo {
    color: white;
    text-align: center;
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
    height: 50vw;/*fix it, media query?*/
    max-height: 1000px;
}