#header-link {
    color: white;
    text-decoration: none;
    display: inline-block;
}

.header {
    background-color: #14499E;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .header {
        font-size: 10px;
    }
}