.footer {
    padding: 20px;
    font: 0/0 a;
    text-align: center;
    background-color: #303030;
}

.footer-icon {
    margin: 10px;
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    height: 35px;
}

.footer-icon:hover {
    opacity: 0.5;
}